body {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-image: url("background.png"), url("background2.png");
  background-size: 100%;
}

div.canvas {
  margin-left: 100px;
  margin-right: 80px;
  margin-top: 150px;
}

div.text-body {
  margin-top: 80px;
}

div.book {
  margin-right: 80px;
  margin-top: 150px;
}

div.book > h1 {
  font-size: 60px;
  line-height: 60px;
  margin-left: 10px;
}

div.book > h3 {
  color: #f2c73f;
  font-weight: 700;
  font-size: 30px;
  margin-left: 15px;
}

div.book-image {
  display: flex;
}

hr {
  width: 20%;
  background-color: #f2c73f;
  height: 10px;
  border: 0;
  position: absolute;
  margin-left: 10px;
  display: inline-block;
}

h1 {
  font-weight: 700;
  font-size: 150px;
  line-height: 120px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  margin-left: 15px;
}

h2 > span {
  text-transform: uppercase;
}
